<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ "Register as a " + (userType || "?") }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (!userType) {
    <div class="flex-row gap-1">
      <button mat-raised-button color="primary" [routerLink]="['/register']"
        [queryParams]="{ userType: 'Teacher' }">Teacher</button>
      <button mat-raised-button color="primary" [routerLink]="['/register']"
        [queryParams]="{ userType: 'HOD' }">HOD</button>
    </div>
    } @else {
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div formGroupName="name" class="flex-row gap-1">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" placeholder="First Name" type="text">
          @if (isFirstNameInvalid) {
          <mat-error>Please enter a valid first name</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" placeholder="Last Name" type="text">
          @if (isLastNameInvalid) {
          <mat-error>Please enter a valid last name</mat-error>
          }
        </mat-form-field>
      </div>
      <div formGroupName="contact" class="flex-row gap-1">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="Username" type="text">
          @if (isUsernameInvalid) {
          <mat-error>Please enter a valid username</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email" type="email">
          @if (isEmailInvalid) {
          <mat-error>Please enter a valid email</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex-row gap-1">
        <div formGroupName="contact" class="flex-row gap-1">
          <mat-form-field>
            <mat-label>Contact Number</mat-label>
            <input matInput formControlName="contactNumber" placeholder="Contact Number" type="tel">
            @if (isContactNumberInvalid) {
            <mat-error>Please enter a valid contact number</mat-error>
            }
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Department</mat-label>
          <mat-select formControlName="department">
            <mat-option value="IT">IT</mat-option>
            <mat-option value="Comps">Comps</mat-option>
            <mat-option value="Extc">Extc</mat-option>
            <mat-option value="Mech">Mech</mat-option>
            <mat-option value="Civil">Civil</mat-option>
          </mat-select>
          @if (isDepartmentInvalid) {
          <mat-error>Please select a department</mat-error>
          }
        </mat-form-field>
      </div>
      <div formGroupName="passwords" class="flex-row gap-1">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Password">
          @if (isPasswordInvalid) {
          <mat-error>Please enter a valid password</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password">
          @if (isConfirmPasswordInvalid) {
          <mat-error>Passwords do not match</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex-row gap-1 align-items-center">
        <mat-label for="fileInput">Profile Picture</mat-label>
        <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
        <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
      </div>
      <button mat-raised-button color="primary" type="submit" style="margin-top: 8px;">Register</button>
    </form>
    }
  </mat-card-content>
</mat-card>
