.sidenav-container {
  height: 100%;
}

.sidenav {
  background: firebrick;
  color: #fff !important;
  width: 200px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

.mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background-color: firebrick;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}
